<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension point="org.knime.workbench.repository.nodes">
    <node
          category-path="/community"
          deprecated="false"
          factory-class="nl.esciencecenter.e3dchem.sstea.ScoreNodeFactory"
          id="nl.esciencecenter.e3dchem.sstea.ScoreNodeFactory">
    </node>
    </extension>
</plugin>
