/**
 * Kripo API
 * API to interact with Kripo fragment, fingerprint and similarity data files.
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package nl.esciencecenter.e3dchem.kripodb.ws.client;

import nl.esciencecenter.e3dchem.kripodb.ws.client.ApiCallback;
import nl.esciencecenter.e3dchem.kripodb.ws.client.ApiClient;
import nl.esciencecenter.e3dchem.kripodb.ws.client.ApiException;
import nl.esciencecenter.e3dchem.kripodb.ws.client.ApiResponse;
import nl.esciencecenter.e3dchem.kripodb.ws.client.Configuration;
import nl.esciencecenter.e3dchem.kripodb.ws.client.Pair;
import nl.esciencecenter.e3dchem.kripodb.ws.client.ProgressRequestBody;
import nl.esciencecenter.e3dchem.kripodb.ws.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import nl.esciencecenter.e3dchem.kripodb.ws.client.model.Error;
import nl.esciencecenter.e3dchem.kripodb.ws.client.model.Fragment;
import nl.esciencecenter.e3dchem.kripodb.ws.client.model.Hit;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class FragmentsApi {
    private ApiClient apiClient;

    public FragmentsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public FragmentsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for getFragmentSvg */
    private com.squareup.okhttp.Call getFragmentSvgCall(String fragmentId, Integer width, Integer height, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'fragmentId' is set
        if (fragmentId == null) {
            throw new ApiException("Missing the required parameter 'fragmentId' when calling getFragmentSvg(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/fragments/{fragment_id}.svg".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "fragment_id" + "\\}", apiClient.escapeString(fragmentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (width != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "width", width));
        if (height != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "height", height));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "image/svg+xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 2D drawing of fragment in SVG format
     * 
     * @param fragmentId Query fragment identifier. e.g. 3j7u_NDP_frag24 (required)
     * @param width  (optional, default to 400)
     * @param height  (optional, default to 200)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void getFragmentSvg(String fragmentId, Integer width, Integer height) throws ApiException {
        getFragmentSvgWithHttpInfo(fragmentId, width, height);
    }

    /**
     * 2D drawing of fragment in SVG format
     * 
     * @param fragmentId Query fragment identifier. e.g. 3j7u_NDP_frag24 (required)
     * @param width  (optional, default to 400)
     * @param height  (optional, default to 200)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> getFragmentSvgWithHttpInfo(String fragmentId, Integer width, Integer height) throws ApiException {
        com.squareup.okhttp.Call call = getFragmentSvgCall(fragmentId, width, height, null, null);
        return apiClient.execute(call);
    }

    /**
     * 2D drawing of fragment in SVG format (asynchronously)
     * 
     * @param fragmentId Query fragment identifier. e.g. 3j7u_NDP_frag24 (required)
     * @param width  (optional, default to 400)
     * @param height  (optional, default to 200)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getFragmentSvgAsync(String fragmentId, Integer width, Integer height, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getFragmentSvgCall(fragmentId, width, height, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for getFragments */
    private com.squareup.okhttp.Call getFragmentsCall(List<String> fragmentIds, List<String> pdbCodes, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        

        // create path and map variables
        String localVarPath = "/fragments".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (fragmentIds != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("csv", "fragment_ids", fragmentIds));
        if (pdbCodes != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("csv", "pdb_codes", pdbCodes));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/problem+json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Retrieve fragments
     * 
     * @param fragmentIds Filter by fragment identifiers. e.g. 3j7u_NDP_frag24 (optional)
     * @param pdbCodes Filter by PDB identifier codes. e.g. 3j7u (optional)
     * @return List&lt;Fragment&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Fragment> getFragments(List<String> fragmentIds, List<String> pdbCodes) throws ApiException {
        ApiResponse<List<Fragment>> resp = getFragmentsWithHttpInfo(fragmentIds, pdbCodes);
        return resp.getData();
    }

    /**
     * Retrieve fragments
     * 
     * @param fragmentIds Filter by fragment identifiers. e.g. 3j7u_NDP_frag24 (optional)
     * @param pdbCodes Filter by PDB identifier codes. e.g. 3j7u (optional)
     * @return ApiResponse&lt;List&lt;Fragment&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Fragment>> getFragmentsWithHttpInfo(List<String> fragmentIds, List<String> pdbCodes) throws ApiException {
        com.squareup.okhttp.Call call = getFragmentsCall(fragmentIds, pdbCodes, null, null);
        Type localVarReturnType = new TypeToken<List<Fragment>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve fragments (asynchronously)
     * 
     * @param fragmentIds Filter by fragment identifiers. e.g. 3j7u_NDP_frag24 (optional)
     * @param pdbCodes Filter by PDB identifier codes. e.g. 3j7u (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getFragmentsAsync(List<String> fragmentIds, List<String> pdbCodes, final ApiCallback<List<Fragment>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getFragmentsCall(fragmentIds, pdbCodes, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<Fragment>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getSimilarFragments */
    private com.squareup.okhttp.Call getSimilarFragmentsCall(String fragmentId, Double cutoff, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'fragmentId' is set
        if (fragmentId == null) {
            throw new ApiException("Missing the required parameter 'fragmentId' when calling getSimilarFragments(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/fragments/{fragment_id}/similar".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "fragment_id" + "\\}", apiClient.escapeString(fragmentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (cutoff != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "cutoff", cutoff));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "limit", limit));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/problem+json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Similar fragments
     * Retrieve fragments similar to query based on Kripo fingerprint. Hits are ordered by decreasing similarity score (this score ranges from 0, completely dissimilar, to 1, identical). 
     * @param fragmentId Query fragment identifier. e.g. 3j7u_NDP_frag24 (required)
     * @param cutoff Similarity score cutoff. (optional, default to 0.45)
     * @param limit Maximum number of hits. (optional, default to 1000)
     * @return List&lt;Hit&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<Hit> getSimilarFragments(String fragmentId, Double cutoff, Integer limit) throws ApiException {
        ApiResponse<List<Hit>> resp = getSimilarFragmentsWithHttpInfo(fragmentId, cutoff, limit);
        return resp.getData();
    }

    /**
     * Similar fragments
     * Retrieve fragments similar to query based on Kripo fingerprint. Hits are ordered by decreasing similarity score (this score ranges from 0, completely dissimilar, to 1, identical). 
     * @param fragmentId Query fragment identifier. e.g. 3j7u_NDP_frag24 (required)
     * @param cutoff Similarity score cutoff. (optional, default to 0.45)
     * @param limit Maximum number of hits. (optional, default to 1000)
     * @return ApiResponse&lt;List&lt;Hit&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<Hit>> getSimilarFragmentsWithHttpInfo(String fragmentId, Double cutoff, Integer limit) throws ApiException {
        com.squareup.okhttp.Call call = getSimilarFragmentsCall(fragmentId, cutoff, limit, null, null);
        Type localVarReturnType = new TypeToken<List<Hit>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Similar fragments (asynchronously)
     * Retrieve fragments similar to query based on Kripo fingerprint. Hits are ordered by decreasing similarity score (this score ranges from 0, completely dissimilar, to 1, identical). 
     * @param fragmentId Query fragment identifier. e.g. 3j7u_NDP_frag24 (required)
     * @param cutoff Similarity score cutoff. (optional, default to 0.45)
     * @param limit Maximum number of hits. (optional, default to 1000)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getSimilarFragmentsAsync(String fragmentId, Double cutoff, Integer limit, final ApiCallback<List<Hit>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getSimilarFragmentsCall(fragmentId, cutoff, limit, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<Hit>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
